<!DOCTYPE html>
<html>
	<head>
		<title>Create Password ::</title>
		<style>
			#r {
			  background-color:   #f87c76 ;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	</head>
	<body id = 'r'>
		<div class="container" >
			<h1 align = "center">Change Password !!</h1>
								
			<form method="post" action="/changePasswordProcess" id = "myfrm">				
				<div class="form-group">
					<% if(val == 1){%>
						<div style="color: green;">Password has been changed successfuly.</div>
					<% } else if(val == 0){ %>
						<div style="color: red;">Something went wrong.</div>
					<% } %>	
					<label>Enter Old Password : </label>
					<input type="Password" class="form-control" name="oldPass" id = "oldPass" onblur="return chkpass();">
					<div id = "oldPassID" style="display: none; color: red;"> *Please Enter Old Password* .</div>
				</div>			
				<div class="form-group">
					<label>Enter New Password : </label>
					<input type="Password" class="form-control" name="newPass" id = "newPass">
					<div id = "newPasswordID" style="display: none; color: red;"> *Please Enter New Password* .</div>
				</div>
				<div class="form-group">
					<label>Enter Confirm Password : </label>
					<input type="Password" class="form-control" name="conPass" id = "conPass">
					<div id = "conpasswordID" style="display: none; color: red;"> *Please Enter Confirm Password* .</div>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>	<a href = "/Dashboard" class="btn btn-default">  Back </a>	
			</form>
		</div>
	</body>
</html>

<script type="text/javascript">
	$(document).ready(function() { 
	 	$('#myfrm').on('submit', function(e){	 		
	        var flag = 0;
	        var oldPass = $('#oldPass').val();
	        var userid = $('#userid').val();
	        if(oldPass == '')
	        {
	        	$('#oldPassID').show('slow');
	        	flag++;
	        }
	        else
	        {	        	
        	  $.ajax({
		          type : 'POST',	        
		          url  : 'http://127.0.0.1:8000/chkOldPass',
		          data : JSON.stringify({oldPass : oldPass}),
		          contentType: 'application/json',         
		          success: function(response){
		          	alert(response)
		            if(response == 0)	 
			        {
			        	$('#oldPassID').show('slow');
			        	$('#oldPassID').html('Not same as profile password.');
			        	flag++; 
			        } 
			        else{

			        	$('#oldPassID').hide('slow');			        	
			        }              
		          }
		      });
	        	
	        }
	        var password = $('#newPass').val();
	        if(password == '')
	        {
	        	$('#newPasswordID').show('slow');
	        	flag++;
	        }
	        else
	        {
	        	var conpassword = $('#conPass').val();
		        if(conpassword == '')
		        {
		        	$('#conpasswordID').show('slow');
		        	flag++;
		        }
		        else if(password != conpassword)
		        {
		        	$('#conpasswordID').show('slow');
		        	$('#conpasswordID').html('Confirm password must be same as new password');
		        	flag++;
		        }
		        else{

		        	$('#newPasswordID').hide('slow');
		        	$('#conpasswordID').hide('slow');
		        }
	        }
	       
	        if(flag > 0)
	        {
	        	return false;
	        }
	        
	    });
	});
</script>