<!DOCTYPE html>
<html>
	<head>
		<title>Forget Password ::</title>
		<style>
			#r {
			  background-color:   #ff884d ;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	</head>
	<body id = 'r'>
		<div class="container" >
			<h1 align = "center">Forget Password !!</h1>
			<% if(msg == 1){%>
				<div style="color: green;">Forget password link has been sent to your registred mail id.</div>
			<% } else if(msg == 0){ %>
				<div style="color: red;">This email is not registred with us.</div>
			<% } %>			
			<form method="post" action="/forgetPasswordSendLink" id = "myfrm">			
				<div class="form-group">
					<label>Enter Your Email : </label>
					<input type="email" class="form-control" name="email" id = "email">
					<div id = "emailID" style="display: none; color: red;"> *Please Enter Email Id* .</div>
				</div>			
				<div class="form-group">
					<label>Choose Type : </label>
					<select name = "type" id = "type" class="form-control">
						<option value="">---Select---</option>
						<option value="admin">ADMIN LOGIN</option>
						<option value="user">USER LOGIN</option>
					</select>
					<div id = "typeID" style="display: none; color: red;"> *Please Choose a Option* .</div>
				</div>
				 <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</body>
</html>

<script type="text/javascript">
	$(document).ready(function() { 
	 	$('#myfrm').on('submit', function(e){	 		
	        var flag = 0;
	        var email = $('#email').val();
	        if(email == '')
	        {
	        	$('#emailID').show('slow');
	        	flag++;
	        }
	        var type = $('#type').val();
	        if(type == '')
	        {
	        	$('#typeID').show('slow');
	        	flag++;
	        }
	        if(flag > 0)
	        {
	        	return false;
	        }
	        
	    });
	});
</script>