<!DOCTYPE html>
<html>
	<head>
		<title>Forget Password ::</title>
		<style>
			#r {
			  background-color:   #ff884d ;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	</head>
	<body id = 'r'>
		<div class="container" >
			<h1 align = "center">Create Password !!</h1>
			<% if(uniqueval == 1){%>
				<div style="color: green;">Your profile password has benn changed successfully.you can Log In with current password.</div>
			<% } else if(uniqueval == 2){ %>
				<div style="color: red;">Something went wrong.</div>
			<% } else { 
					var token = uniqueval
				}%>			
			<form method="post" action="/updatefpass" id = "myfrm">	
				<input type="hidden" class="form-control" name="uniqueval" id = "uniqueval" value="<%=token%>">		
				<div class="form-group">
					<label>Enter New Password : </label>
					<input type="password" class="form-control" name="password" id="password">
					<div id = "passwordID" style="display: none; color: red;"> *Please Enter Password* .</div>
				</div>			
				<div class="form-group">
					<label>Enter Confirm Password : </label>
					<input type="password" class="form-control" name="conpassword" id="conpassword">
					<div id = "conpasswordID" style="display: none; color: red;"> *Please Enter confirm Password* .</div>
				</div>
				 <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</body>
</html>

<script type="text/javascript">
	$(document).ready(function() { 
	 	$('#myfrm').on('submit', function(e){	 		
	        var flag = 0;
	        var password = $('#password').val();
	        if(password == '')
	        {
	        	$('#passwordID').show('slow');
	        	flag++;
	        }
	        else
	        {
	        	var conpassword = $('#conpassword').val();
		        if(conpassword == '')
		        {
		        	$('#conpasswordID').show('slow');
		        	flag++;
		        }
		        else if(password != conpassword)
		        {
		        	$('#conpasswordID').show('slow');
		        	$('#conpasswordID').html('Confirm password must be same as new password');
		        	flag++;
		        }
	        }
	       
	        if(flag > 0)
	        {
	        	return false;
	        }
	        
	    });
	});
</script>