<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<style>
		#r {
		  	 
		  	  text-align: center;
			  text-decoration: none;			  
			  font-size: 16px;
			  margin: 4px 2px;
			  cursor: pointer;
		}
		span{
		  	 
		  	  text-align: right;
			  text-decoration: none;			  
			  font-size: 16px;
			  margin: 4px 2px;
			  cursor: pointer;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="jumbotron container">
	<div align="right"><a href="Logout">Logout</a></div>
	<div>		
		<h3 align="center" style = "font-size: 40px;">Profile View!!</h1>
		<br><br>
		<div class="container">	
			<div class="row" id = 'r'>		
				<div>
					<label>Name : </label>
					<label><%= data.name %></label>					
				</div>
				
				<div>
					<label>Email : </label>
					<label><%= data.email %></label>
				</div>
				
				<div>
					<label>Mobile : </label>
					<label><%= data.mobile %></label>
				</div>

				<div>
					<label>Image : </label>
					<label>
						<img src="uploads/userimage/<%= data.image %>" height = "45px" weidth = "25px">
					</label>
				</div>
				<div>
					<br>
					<% if(data.type == 'admin'){ %>
						<label>
							<a href = "book/addBookView" > + Add Book </a> &nbsp;&nbsp;&nbsp;
							<a href = "book/bookList" >  Book List </a> &nbsp;&nbsp;&nbsp;
							<a href = "book/addBookView" > Request List  </a> &nbsp;&nbsp;&nbsp;
							<a href = "user/memberList" > Members  </a> 
						</label>
					<% }else{ %>
						<label>
							<a href="book/bookList" > Book List</a> &nbsp;&nbsp;&nbsp;
							<a href="book/userBookList" > My Book List </a>
						</label>
					<% } %>
				</div>			
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	$(document).ready(function() { 
		$('#Booklist').click(function(){
			alert('Done');
		   $.ajax({
	          type: 'POST',	        
	          url:'http://127.0.0.1:8000/book/bookList',
	          contentType: 'application/json',         
	          success: function(response){
	            console.log(response);	                 
	          }
	      });
		});
	});
</script>

</html>